langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
langchain-google-genai>=3.1.0
notebook
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]
python-dotenv>=1.2.0
jupyter